body, h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   font-family: 'Georgia', serif;
}

a {
   color: #628884;
   transition: color 0.5s;
}

a:hover {
   color: #1e4440;
}

#footer {
   background-color: #92b9b7;
}

#footer p {
   margin-top: 1rem;
}



.bg-dark-gradient {
   background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);
}

.bg-pastel {
   background-color: #e1eeed;
}

.flatten-it .card {
   background-color: #fff;
   border-radius: 0;
   border: none;
}

.card-img-overlay a {
   color: #fff;
   transition: color 0.5s;
}

.card-img-overlay a:hover {
   color: #bfdedb;
}