.bg-dark-gradient {
   background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);
}

.bg-pastel {
   background-color: #e1eeed;
}

body, h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   font-family: 'Georgia', serif;
}

.flatten-it .card {
   background-color: #fff;
   border-radius: 0;
   border: none;
}

a {
   color: #628884;
   transition: color 0.5s;
}

a:hover {
   color: #1e4440;
}